@config "../../tailwind.config.js";
@import "tailwindcss";

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700&display=swap');

:root {
  --bg: #0B132B;
  /* Bleu Nuit Profond */
  --fg: #D6DBE1;
  /* Gris Clair */
}

html,
body {
  height: 100%;
}

body {
  @apply bg-[var(--bg)] text-[var(--fg)] font-inter antialiased;
}

h1,
h2,
h3 {
  @apply font-poppins;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}
